<p>
  <strong>Name:</strong>
  <%= @employee.name%>
</p>
 
<p>
  <strong>Post:</strong>
  <%=@employee.post%>
</p>
<p>
  <strong>department_id:</strong>
  <%= @employee.department_id %>
</p></br>
</br>




<%= link_to 'EDIT', edit_employee_path(@employee) %> |
<%= link_to 'BACK', employee_index_path %>