<!DOCTYPE html>
<html>
<head>

</head>
<body>

<center>
<%= form_with scope: :report, url: report_index_path, local: true do |form| %>

<% if @report.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@report.errors.count, "error") %> prohibited
        this report from being saved:
      </h2>
      <ul>
        <% @report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
   
 
  <legend>FILL FORM</legend>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  

 <center><p>
 
    <%= form.submit %>
  
  </p>
  </center>
   </fieldset>

 </form> </center>


</body>
<% end %>

<%= link_to 'BACK', report_index_path %>
