<!DOCTYPE html>
<html>
<head>

</head>
<body>

<center>
<%= form_with scope: :demand, url: inventory_demand_index_path, local: true do |form| %>
 
   
  <% if @demand.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@demand.errors.count, "error") %> prohibited
        this order from being saved:
      </h2>
      <ul>
        <% @demand.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
   
 
  <legend>FILL FORM</legend>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :quantity%><br>
    <%= form.text_area :quantity%>
  </p>
 
  

  
 <center><<p>
 
    <%= form.submit %>
  
</p>
  </center>

</fieldset>
</form>
</center>
</body>
<% end %>
<%= link_to 'BACK', demand_index_path %>

