<!DOCTYPE html>
<html>
<head>

</head>
<body>

<center>
<center><h1>NEW ASSET</h1>

<%= form_with scope: :asset, url: inventory_index_path, local: true do |form| %>
 
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@inventory.errors.count, "error") %> prohibited
        this asset from being saved:
      </h2>
      <ul>
        <% @inventory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
   
 
  <legend>FILL FORM</legend>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :describtion %><br>
    <%= form.text_area :describtion %>
  </p>
   <p>
    <%= form.label :department_id %><br>
    <%= form.text_field :department_id %>
  </p>
 
 
 
 <center><p>
 
   <%= form.submit %>
  
  </p>>
  </center>
   </fieldset>

 </form> </center>


</body>
  
<% end %>
<%= link_to 'BACK', inventory_index_path%>